ion-navbar.toolbar.toolbar-ios.statusbar-padding,
ion-navbar.toolbar-ios ion-title.title-ios,
ion-toolbar.toolbar.toolbar-ios.statusbar-padding,
ion-toolbar.toolbar-ios ion-title.title-ios {
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}


#post-list-card {
  min-width: 80vw;
  max-width: 80vw;
}

@media screen and (min-width: 668px) {
  #post-list-card  {
    min-width: 88vw;
    max-width: 88vw;
  }

}

@media screen and (min-width: 920px) {
  #post-list-card  {
    min-width: 88vw;
    max-width: 88vw;
  }

}
